<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Monthly Summary</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for ('static', filename='monthlysummaryPage.css')}}">
    </head> 
    <body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <div class="container">
            <a href="/" class="navbar-brand"><img src="{{ url_for ('static', filename='Icon.png')}}" width="60px">Fun Finance</a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav" id="navmenu">
                    <li class="nav-item">
                        <a href="/input-income" class="nav-link">Input Income</a>
                    </li>
                    <li class="nav-item">
                        <a href="/input-expenses" class="nav-link">Input Expenses</a>
                    </li>
                    <li class="nav-item">
                        <a href="/monthly-summary" class="nav-link">Summary</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
         <section class="bg-dark text-light p-5">
            <div class="container">
                <div>
                    <div class="d-sm-flex">
                    <h1>Your Monthly Summary</h1>
                    </div>
                </div class="px-5">
                <button class="btn btn-outline-secondary" type="button" onClick="document.getElementById('Bills').scrollIntoView();"> Bills </button>
                <button class="btn btn-outline-secondary" type="button" onClick="document.getElementById('Services').scrollIntoView();"> Services </button>
                <button class="btn btn-outline-secondary" type="button" onClick="document.getElementById('Food').scrollIntoView();"> Food </button>
                <button class="btn btn-outline-secondary" type="button" onClick="document.getElementById('Charges').scrollIntoView();"> Charges </button>
                <button class="btn btn-outline-secondary" type="button" onClick="document.getElementById('Products').scrollIntoView();"> Products </button>
                <button class="btn btn-outline-secondary" type="button" onClick="document.getElementById('Donations').scrollIntoView();"> Donations </button>
                <button class="btn btn-outline-secondary" type="button" onClick="document.getElementById('Total').scrollIntoView();"> Total </button>
            </div>
        </section>
        <section id="Bills" class="Bills p-5">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md-p5">
                        <h2>Bills</h2>
                        <p class="lead">
                            This section visualizes the amount of your spendings that are centered around personal bills.
                        </p>
                    </div>
                    <div class="pieB"></div>
                </div>
            </div>

        </section>
        <section id="Services" class="Services p-5">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md-p5">
                        <h2>Services</h2>
                        <p class="lead">
                            This section visualizes the amount of your spendings that are centered around services.
                        </p>
                    </div>
                    <div class="pieS"></div>
                </div>
            </div>

        </section>
        <section id="Food" class="Food p-5">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-md-p5">
                            <h2>Food</h2>
                            <p class="lead">
                                This section visualizes the amount of your spendings that are centered around food-related products.
                            </p>
                        </div>
                        <div class="pieF"></div>
                    </div>
                </div>
        </section>
        <section id="Charges" class="Charges p-5">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-md-p5">
                            <h2>Charges</h2>
                            <p class="lead">
                                This section visualizes the amount of your spendings that are centered around charges.
                            </p>
                        </div>
                        <div class="pieC"></div>
                    </div>
                </div>
    
        </section>
        <section id="Products" class="Products p-5">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-md-p5">
                            <h2>Products</h2>
                            <p class="lead">
                                This section visualizes the amount of your spendings that are centered around personal products.
                            </p>
                        </div>
                        <div class="pieP"></div>
                    </div>
                </div>
    
        </section>
        <section id="Donations" class="Donations p-5">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-md-p5">
                            <h2>Donations</h2>
                            <p class="lead">
                                This section visualizes the amount of your spendings that are centered around Donations.
                            </p>
                        </div>
                        <div class="pieD"></div>
                    </div>
                </div>
    
        </section>
        <section id="Total" class="Total p-5">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md-p5">
                        <h2>Total</h2>
                        <p class="lead">
                            This section visualizes your total amount of spendings for this year.
                        </p>
                    </div>
                    <div class="pieT"></div>
                </div>
            </div>

    </section>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>

</html>